# Игнорируем папку сборки CMake (там хранятся гигабайты кэша и скачанный Raylib)
/build/
# Игнорируем скомпилированные файлы на ПК
/chip8_emulator
/chip8_emulator.exe
# Системные файлы операционных систем
.DS_Store
Thumbs.db